<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Login</title>
	</head>
	
	<body>
	<h1>Login</h1>
	
	<form action="/login" method="post">
		Username: <input type="text" name="username">  <br><br><br>
		Password: <input type="password" name="password"> <br><br><br><br>
		<input type="text" name="clientId" value="$client_id">
		<input type="text" name="state" value="$state">
		<input type="text" name="responseType" value="$response_type">
		<input type="text" name="redirectUri" value="$redirect_uri">
		<input type="submit" value="Login">
	</form>
	
	</body>
</html>